(basics) {
    tls /run/secrets/fullchain /run/secrets/privkey
    # log {
    #     output file /var/log/access.log
    #     # format single_field common_log
    # }
}

auth.b5nine.com {
    import basics
    reverse_proxy authelia:9091
}


# memos.b5nine.com {
#     reverse_proxy memos:5230
# }

# vault.b5nine.com {
#     reverse_proxy vaultwarden:80
# }


memos.b5nine.com {
    import basics
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
    reverse_proxy memos:5230
}